@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  padding: 4% 8%;
  margin: 0;
  font-family: 'Inconsolata';
}

p {
  padding-left: 0px;
  margin: 8px 0;
}

.fa-exclamation-triangle { color: red; }

.fa-check-circle { color: green; }
